<ion-content padding class="auto-scroll">
    <ion-grid fixed>
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="12" size-sm="12" size-md="6">
                <form>
                    <br><br><br>
                    <h1 class="oleo-script logo-title ion-text-center">Localize</h1>
                    <br><br>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-input type="email" placeholder="E-mail" maxlength="140" formControlName="email">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="password" placeholder="Senha" maxlength="20" formControlName="password">
                            </ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button expand="block" size="large" fill="outline">Entrar</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer>
    <ion-toolbar class="ion-text-center">

        <div>
            <ion-button size='small' fill="none" expand=" block">
                <small> Ainda não tem conta?&nbsp;<strong>Cadastre-se</strong></small>
            </ion-button>
        </div>


    </ion-toolbar>

</ion-footer>