<ion-content class="auto-scroll">
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="12" size-md="4">
                <ion-card>
                    <img src="http://lorempixel.com/512/512" alt="">
                    <ion-card-content>
                        <ion-card-title>Titulo aqui</ion-card-title>
                        <p>Menssagem da imagen</p>
                        <p><small>postado em 03/09/2020 16:15 por
                                <strong>jefersonsilvasantos_@hotmail.com</strong></small></p>
                    </ion-card-content>
                    <ion-row class="ion-no-padding">
                        <ion-col>
                            <ion-button fill="clear" color="danger" size="small">
                                <ion-icon name="location"></ion-icon> VER NO MAPA
                            </ion-button>
                        </ion-col>

                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>


    </ion-grid>







</ion-content>