<ion-content class="auto-scroll">
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="12" size-md="4" *ngFor="let photo of photos" class="animated zoomIn">
                <ion-card>
                    <img src="{{ photo.image }}" alt="{{ photo.title }}" class="{{ photo.filter }}" width="100%" /><br>
                    <ion-card-content>
                        <ion-card-title>
                            {{ photo.title }}<br>
                        </ion-card-title>
                        <p>
                            {{ photo.message }}<br>
                        </p>
                        <p><small>postado em {{ photo.date | date: 'dd/MM/yyyy HH:mm' }} <br>
                                por <strong>{{ photo.user }}</strong></small></p>
                    </ion-card-content>
                    <ion-row no-padding>
                        <ion-col>
                            <ion-button fill="clear" color="danger" size="small" *ngIf="photo.location != ''"
                                (click)="showMap(photo.location)">
                                <ion-icon name="location">
                                </ion-icon> VER NO MAPA
                            </ion-button>

                            <ion-button fill="clear" color="danger" size="small" *ngIf="photo.location == ''">
                                <ion-icon name="location">
                                </ion-icon> Localização não Disponível
                            </ion-button>


                        </ion-col>

                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>


    </ion-grid>







</ion-content>