<ion-header>
    <ion-toolbar>
        <ion-title class="oleo-script">Localize </ion-title>
        <ion-buttons slot='end'>
            <ion-button slot="icon-only" (click)="showSendPhoto()">
                <ion-icon name="camera">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-tabs class="auto-scroll">
    <ion-tab-bar slot="bottom">

        <ion-tab-button (click)="navigation('home')">
            <ion-icon name="home">
            </ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="navigation('home/profile')">
            <ion-icon name="search"></ion-icon>

        </ion-tab-button>

        <ion-tab-button (click)="navigation('home/profile')">
            <ion-icon name="add-circle"></ion-icon>

        </ion-tab-button>

        <ion-tab-button (click)="navigation('home/profile')">
            <ion-icon name="heart"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="navigation('home/profile')">
            <ion-icon name="person-circle"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>