<ion-header>
    <ion-toolbar>
        <ion-title class="oleo-script">Localize </ion-title>
        <ion-buttons slot='end'>
            <ion-button slot="icon-only" (click)="dismiss()">
                <ion-icon name="close">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auto-scroll">
    <ion-card>
        <ion-slides>
            <ion-slide *ngFor="let filter of filters;index  as i">
                <ion-list lines="none">
                    <ion-item>
                        <img src="{{ photo }}" alt="" class="{{nameFilter(i)}}" style="width: 100%"></ion-item>
                    <ion-item> <small>{{nameFilter(i)}}</small></ion-item>
                </ion-list>
            </ion-slide>
        </ion-slides>



        <ion-card-content>
            <form [formGroup]="form">
                <ion-list lines="none">
                    <ion-item>
                        <ion-input type="text" placeholder="Título" maxlength="40" formControlName="title"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-textarea placeholder="Mensagem" rows="3" maxlength="255" formControlName="message">
                        </ion-textarea>
                    </ion-item>
                </ion-list>
            </form>
        </ion-card-content>
        <ion-row class="ion-no-padding">
            <ion-col>

                <ion-button fill="clear" color="danger" size="small" *ngIf="location == ''" (click)="getLocation()">
                    <ion-icon name='location'></ion-icon> Ativar Localização
                </ion-button>
                <ion-button fill="clear" color="danger" size="small" *ngIf="location != ''">
                    <ion-icon name='location'></ion-icon> {{ location }}
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-card>
    <div class="ion-padding">

        <ion-button fill="outline" expand="block" size="large" [disabled]="!form.valid" (click)="submit()">
            Enviar
        </ion-button>

    </div>

</ion-content>